.App {
  text-align: center;
}
.App #linkOne {

}

.App #linkTwo {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #4F4F4F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*
   align-items: center;
  */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App nav {
  margin-right: 1300px;
  font-family: Roboto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    background-color: #302F2F;
    height:200vh;
    color: white;
}

/*
.landing :nth-child(2) {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
*/


.landing #logo {
  position: absolute;
  left: 5px;
  top: 5px;
  padding:5px;
}

.landing #headphones {
  position: relative;
  top: 100px;
  opacity: 0.6;
  z-index: -1;
}


.landing .hero-title {
  font-family: monospace;
  font-size: 100px;
  margin-top: 300px;
  margin-left: 210px;
  position: absolute;
}

.selling-points {

}

.point-1 {
  display: inline-block;
  width: 200px;
  height: 20px;
  margin-right: 90px;
  position: relative;
  margin-top: 150px;
}

.point-2 {
  display: inline-block;
  width: 200px;
  height: 20px;
  margin-right: 90px;
  position: relative;
}

.point-3 {
  display: inline-block;
  width: 200px;
  height: 20px;
  position: relative;
}

#musicalNote {
  margin-left: 65px;
}

#radioWaves {
  margin-left: 55px;
}

#iphone {
  margin-left: 55px;
}

#album-cover-art {
  position: absolute;
  left: 10px;
  top: 70px;
  padding: 10px;
}

.album-details {
  font-size: 30px;
  right: 100px;
}

#song-list {
  margin-right: auto;
  margin-left: auto;
}


.player-bar {
  margin-right: auto;
  margin-left: auto;
  top: 1000px;
}

.album {
  margin-left: 400px;
}

.album #logo {
  position: absolute;
  left: 5px;
  top: 5px;
  padding:5px;
}

.library a {
  text-decoration: none;
  color: white;
}

.library img {
  width: 300px;
  height: auto;
  margin-top: 100px;
}

.library table {
  margin-left: 70px;
}

.libraryTitle {
  float: right;
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-right: 50px;
}


nav {
  width: 100%;
}

.App img {
  display:flex;
  justify-content: space-between;
}

#album-cover-art {
  width: 400px;
  height: auto;
  margin-top: 50px;
}

#album-title {
  font-size: 30px;
  margin-left: -500px;
  margin-top: 50px;
  line-height: 1.6;
}

.artist {
  font-size: 30px;
  margin-left: -500px;
  margin-top: 30px;
  line-height: 1.6;
}

#release-info {
  font-size: 20px;
  margin-left: -500px;
  margin-top: 30px;
}

#song-list {
  width: 1000px;
  margin-top: 250px;
  margin-left: -220px;
}

td, thead {
  border-bottom: 1px solid #ddd;
}

.player-bar {
  margin-left: -400px;
}
